* {
  /* Chỉnh lại kích thước theo weith height hiện thị trong code bao gồm cả padding và border */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: blanchedalmond;
  padding: 8px 0px 8px;
}

a {
  text-decoration: none;
}

.header .body {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: black;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  padding: 8px 21px;
  color: #5f5b53;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 12rem;
  height: 4.8rem;

  position: relative;
}

.nav a:hover {
  color: black;
}

.nav a:hover::after {
  position: absolute;
  content: "";
  border-radius: 0.1rem;
  background-color: #171100;
  display: block;
  width: 4.4rem;
  height: 0.2rem;
  bottom: 1rem;
}

button {
  display: inline-block;
  min-width: 11.8rem;
  color: aliceblue;
  background-color: black;
  line-height: 4.8rem;
  border-radius: 24.5px;
}

.button-sign-in {
  padding-left: 3rem;
}

img .hero-img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
}
