/* Common */

:root {
  --primary-color: #ffb900;
  --secondary-color: #171100;
  --text-color: #5f5b53;
  --white-color: #ffffff;
  --font-heading: "Sen", sans-serif;
}

* {
  /* Chỉnh lại kích thước theo weith height hiện thị trong code bao gồm cả padding và border */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  min-width: 11.8rem;
  color: aliceblue;
  background-color: black;
  line-height: 4.8rem;
  border-radius: 2.45rem;
  font-size: 2rem;
  cursor: pointer;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.heading-lv3 {
  font-size: 1.6rem;
  font-family: var(--font-heading);
  color: var(--text-color);
}

/* Phần header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fffcf4;
  padding: 0.8rem 0;
}

.main-content {
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  margin-left: auto;
  margin-right: auto;
}

.header .body {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: black;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  padding: 0.8rem 2.1rem;
  color: #5f5b53;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 12rem;
  height: 4.8rem;

  position: relative;
}

.nav a:hover {
  color: black;
}

.nav a:hover::after {
  position: absolute;
  content: "";
  border-radius: 0.1rem;
  background-color: #171100;
  display: block;
  width: 4.4rem;
  height: 0.2rem;
  bottom: 1rem;
}

.button-sign-in {
  padding-left: 3rem;
}

/* Phần main hero */

.hero {
  background-color: #fffcf4;
  width: 100%;
  height: 85rem;
}

main .hero .main-media,
main .hero .main-text {
  flex: 1;
  margin: 0;
}

main .hero .main-content {
  display: flex;
  align-items: center;
}

.hero .main-media .body,
.hero .main-text .body {
  width: 100%;
  height: 68.5rem;
  z-index: 1;
  margin-top: 10rem;
}

.hero .main-media .body img {
  width: 47rem;
  height: 68.5rem;
  border-radius: 2rem;
}

.hero .main-media .body .hero-summary {
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 2rem;
  width: 27rem;
  left: 45rem;
  top: 60rem;
}

.hero .main-media .body .hero-summary .item {
  display: flex;
  padding: 1rem;
}

.hero .main-media .body .hero-summary .item .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ece7e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .main-media .body .hero-summary .item .icon img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0rem;
}

.hero .main-media .body .hero-summary .item .info {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.hero .main-media .body .hero-summary .item .info .label {
  font-size: 1.4rem;
  color: #5f5b53;
}

.hero .main-media .body .hero-summary .item .info .title {
  padding-top: 1.5rem;
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
}

main .hero .main-text .body .line {
  margin-left: 10rem;
}

main .hero .main-text .body .line1 {
  font-size: 5.8rem;
}

main .hero .main-text .body .line2 {
  margin-top: 2.2rem;
  color: #5f5b53;
  font-size: 1.8rem;
}

main .hero .main-text .body .line3 {
  display: flex;
  align-items: center;
  margin-top: 3.8rem;
}

main .hero .main-text .body .line3 .button-watch-video {
  margin-left: 5rem;
  display: flex;
  justify-self: center;
  align-items: center;
}

main .hero .main-text .body .line3 .button-see-courses button {
  min-width: 18rem;
  background-color: var(--primary-color);
  border: none;
}

main .hero .main-text .body .line3 .button-watch-video .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .hero .main-text .body .line3 .button-watch-video button {
  margin-left: 2rem;
  color: black;
  background-color: #fff;
  border: none;
}

main .hero .main-text .body .line4 {
  margin-top: 4.8rem;
  font-size: 1.8rem;
  color: #5f5b53;
}

main .hero .main-text .body .line5 {
  margin-top: 2rem;
  display: flex;
}

main .hero .main-text .body .line5 .line5-1,
main .hero .main-text .body .line5 .line5-3 {
  font-size: 4.4rem;
  margin-right: 1.5rem;
}

main .hero .main-text .body .line5 .line5-2,
main .hero .main-text .body .line5 .line5-4 {
  font-size: 1.8rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

/* Bắt đầu popular */

.popular {
  background-color: #fff;
  width: 100%;
  height: 85rem;
  margin-top: 13.5rem;
}
.popular .main-content {
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  height: 64.5rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: blue; */
}

.popular {
  margin-top: 30rem;
}

.popular .tren {
  display: flex;
}
.popular .tren .heading {
  max-width: 45.8rem;
}

.popular .tren .heading p {
  margin-top: 2rem;
  color: var(--text-color);
}

/* Hiệu ứng nút control */
.popular__control {
  margin-left: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
}

.popular__control-button {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 5rem;
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  border-radius: 50%;
  margin: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.popular__control-button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.popular .duoi {
  display: flex;
  gap: 30px;
}

.popular .duoi .box1,
.popular .duoi .box2,
.popular .duoi .box3 {
  margin-top: 10rem;
  display: flex;
  border-radius: 1.5rem;
  gap: 3rem;
  border: 1px solid black;
}

.popular .duoi .info img {
  width: 100%;
  border-radius: 1.5rem;
}

.popular .duoi .info .text {
  padding: 16px 22px 22px;
}

.popular .duoi .info .text .head {
  display: flex;
  margin: 2rem 0rem 0rem 0rem;
  justify-content: space-between;
}

.popular .duoi .info .text .head .rank {
  display: flex;
  justify-items: center;
  align-items: center;
}

.popular .duoi .info .text .desc {
  margin: 2rem 0rem;
  line-height: 3rem;
  color: var(--text-color);
}

.popular .duoi .info .text .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .duoi .info .text .foot .price {
  font-weight: bold;
}

/* Hiệu ứng nút cho button popular */
.popular__foot-button {
  position: relative;
  overflow: hidden;
}

.popular__foot-button span {
  position: relative;
  z-index: 1;
}

.popular__foot-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: var(--primary-color);
  transition: width 0.5s linear;
}

.popular__foot-button:hover::after {
  width: 100%;
  left: 0;
}

/* Feedback */

.feedback {
  min-height: 38rem;
  margin-top: 21rem;
  padding: 4rem 0;
  background-color: #2e2100;
  color: white;
}

.feedback .main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.feedback .profile .main-picture {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.feedback .profile .name {
  margin-top: 1.3rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.feedback .profile .course {
  margin-top: 0.4rem;
  font-size: 1.4rem;
}

.feedback .profile .dots {
  gap: 10px;
  display: flex;
  margin-top: 28px;
}

.feedback .main-content .content {
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
  width: 80rem;
}

/* Code cho features */

.features > * {
  margin-top: 13.5rem;
}

.features {
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  height: 64.5rem * 2;
  margin-left: auto;
  margin-right: auto;
}

.features .first,
.features .second {
  display: flex;
  gap: 10rem;
}

.features .first .images {
  display: flex;
  gap: 3rem;
}

.features .images img {
  max-width: 27rem;
  min-width: 27rem;
  border-radius: 4rem;
  object-fit: cover;
}

.features .first .images .img-left {
  margin-top: 5rem;
}

.features .first .images .img-right {
  margin-bottom: 5rem;
}

.features .content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.features .content .head {
  margin-top: 10rem;
}

.features .content .foot {
  display: flex;
  justify-content: center;
}

.features .second .images img {
  max-width: 50rem;
}

/* Hiệu ứng cho nút button trong feature */
.feature__foot-button {
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: 0.3s linear;
}

.feature__foot-button:hover {
  color: var(--white-color);
  background-color: var(--text-color);
  transform: translate(0, -15px);
}

/* Blogs */

.blogs {
  background-color: #fffcf4;
}

.blogs .heading-lv2,
.blogs .heading-lv3 {
  margin-top: 5rem;
  text-align: center;
}

.blogs .list-box {
  background-color: var(--white-color);
  margin-top: 10rem;
  display: flex;
  gap: 5rem;
}

.blogs .list-box .box {
  border: 0.1rem solid black;
  border-radius: 3rem;
}

.blogs .list-box .images {
  width: 100%;
  height: 30rem;
  border-radius: 3rem 3rem 0rem 0rem;
  object-fit: cover;
}

.blogs .info {
  margin-top: 5rem;
}

.blogs .info > * {
  margin-top: 3rem;
}

.blogs h3 {
  font-weight: bold;
}

.blogs .info span {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}

.blogs .info .button {
  text-align: center;
  margin-bottom: 5rem;
}

.blogs .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

/* Hiệu ứng cho nut button */
.blogs__button {
  position: relative;
  overflow: hidden;
}

.button__span {
  position: relative;
  z-index: 1;
}

.blogs__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--primary-color);
  transition: width 0.5s linear;
}

.blogs__button:hover::after {
  width: 100%;
}

/* footer */

footer {
  background-color: #2e2100;
  margin-top: 13.5rem;
  color: var(--white-color);
}

footer .tren {
  padding: 10rem 0rem 10rem 0rem;
  display: flex;
  gap: 3rem;
}

footer .tren > div {
  flex: 1;
}

footer .tren .item {
  margin-top: 3rem;
}

footer .tren .company .title,
footer .tren .address .title,
footer .tren .support .title {
  border-bottom: 1px solid var(--white-color);
  width: 5rem;
}

footer .duoi {
  border-top: 1px solid var(--white-color);
  text-align: center;
}

footer .duoi div {
  padding: 5rem;
}
